<?xml version="1.0"?>
<config>
    <modules>
        <Manojsingh_Productquestions>
            <version>1.5.0</version><platform>ce</platform>
        </Manojsingh_Productquestions>
    </modules>
    <frontend>
        <routers>
            <productquestions>
                <use>standard</use>
                <args>
                    <module>Manojsingh_Productquestions</module>
                    <frontName>productquestions</frontName>
                </args>
            </productquestions>
        </routers>
        <layout>
            <updates>
                <productquestions module="Manojsingh_Productquestions">
                    <file>productquestions.xml</file>
                </productquestions>
            </updates>
        </layout>
        <translate>
            <modules>
                <Manojsingh_Productquestions>
                    <files>
                        <default>Manojsingh_Productquestions.csv</default>
                    </files>
                </Manojsingh_Productquestions>
            </modules>
        </translate>
    </frontend>
    <admin>
        <routers>
            <productquestions_admin>
                <use>admin</use>
                <args>
                    <module>Manojsingh_Productquestions</module>
                    <frontName>productquestions_admin</frontName>
                </args>
            </productquestions_admin>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <catalog>
                <children>
                    <productquestions module="productquestions">
                        <title>Product Questions</title>
                        <sort_order>71</sort_order>
                        <children>
                            <all module="productquestions">
                                <title>Questions</title>
                                <sort_order>20</sort_order>
                                <action>productquestions_admin/adminhtml_index</action>
                            </all>
                            <settings module="productquestions">
                                <title>Settings</title>
                                <sort_order>30</sort_order>
                                <action>adminhtml/system_config/edit/section/productquestions</action>
                            </settings>
                        </children>
                    </productquestions>
                </children>
            </catalog>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <catalog>
                            <children>
                                <productquestions>
                                    <title>Productquestions Module</title>
                                    <children>
                                        <all translate="title">
                                            <title>All Questions</title>
                                        </all>
                                        <settings translate="title">
                                            <title>Settings</title>
                                        </settings>
                                    </children>
                                    <sort_order>10</sort_order>
                                </productquestions>
                            </children>
                        </catalog>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <productquestions>
                                            <title>Manojsingh - Product Questions Section</title>
                                        </productquestions>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <events>
            <catalog_product_save_after>
                <observers>
                    <productquestions_observer>
                        <type>singleton</type>
                        <class>productquestions/observer</class>
                        <method>updateProductQuestionsProductsNames</method>
                    </productquestions_observer>
                </observers>
            </catalog_product_save_after>
            <catalog_product_delete_before>
                <observers>
                    <productquestions_observer>
                        <type>singleton</type>
                        <class>productquestions/observer</class>
                        <method>deleteProductQuestionsForProduct</method>
                    </productquestions_observer>
                </observers>
            </catalog_product_delete_before>
        </events>
        <layout>
            <updates>
                <productquestions>
                    <file>productquestions.xml</file>
                </productquestions>
            </updates>
        </layout>
        <translate>
            <modules>
                <Manojsingh_Productquestions>
                    <files>
                        <default>Manojsingh_Productquestions.csv</default>
                    </files>
                </Manojsingh_Productquestions>
            </modules>
        </translate>
    </adminhtml>
    <global>
        <models>
            <productquestions>
                <class>Manojsingh_Productquestions_Model</class>
                <resourceModel>productquestions_mysql4</resourceModel>
            </productquestions>
            <productquestions_mysql4>
                <class>Manojsingh_Productquestions_Model_Mysql4</class>
                <entities>
                    <productquestions>
                        <table>manojsingh_productquestions</table>
                    </productquestions>
                    <helpfulness>
                        <table>manojsingh_productquestions_helpfulness</table>
                    </helpfulness>
                </entities>
            </productquestions_mysql4>
            <core>
                <rewrite>
                    <url_rewrite>Manojsingh_Productquestions_Model_Urlrewrite</url_rewrite>
                </rewrite>
            </core>
        </models>
        <resources>
            <productquestions_setup>
                <setup>
                    <module>Manojsingh_Productquestions</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </productquestions_setup>
            <productquestions_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </productquestions_write>
            <productquestions_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </productquestions_read>
        </resources>
        <blocks>
            <productquestions>
                <class>Manojsingh_Productquestions_Block</class>
            </productquestions>
        </blocks>
        <helpers>
            <productquestions>
                <class>Manojsingh_Productquestions_Helper</class>
            </productquestions>
        </helpers>
        <template>
            <email>
                <productquestions_email_to_admin_email translate="label" module="productquestions">
                    <label>Product Questions - Admin notification</label>
                    <file>productquestions_to_admin.html</file>
                    <type>html</type>
                </productquestions_email_to_admin_email>
                <productquestions_email_to_customer_email translate="label" module="productquestions">
                    <label>Product Questions - Reply</label>
                    <file>productquestions_to_customer.html</file>
                    <type>html</type>
                </productquestions_email_to_customer_email>
                <productquestions_autorespond_email_template translate="label" module="productquestions">
                    <label>Product Questions - Autoresponder</label>
                    <file>productquestions_autoresponder.html</file>
                    <type>html</type>
                </productquestions_autorespond_email_template>
            </email>
        </template>
    </global>
    <default>
        <productquestions>
            <interface>
                <show_last_x>5</show_last_x>
                <allowed_sorting_type>1,2</allowed_sorting_type>
                <parse_urls_into_links>1</parse_urls_into_links>
                <guests_allowed_to_vote>1</guests_allowed_to_vote>
            </interface>
            <question_form>
                <guests_allowed>1</guests_allowed>
                <please_register><![CDATA[Please <a href="/customer/account/create/">Sign up</a> or <a href="/customer/account/login/">Login</a> to ask a question]]>
                </please_register>
                <customer_status>1</customer_status>
                <add_subscription>1</add_subscription>
            </question_form>
            <autorespond>
                <status>0</status>
            </autorespond>
            <email>
                <to_admin_email>productquestions_email_to_admin_email</to_admin_email>
                <to_customer_email>productquestions_email_to_customer_email</to_customer_email>
            </email>
            <autorespond>
                <email_template>productquestions_autorespond_email_template</email_template>
            </autorespond>
        </productquestions>
    </default>
    <phpunit>
        <suite>
            <modules>
                <Manojsingh_Productquestions />
            </modules>
        </suite>
    </phpunit>
</config>
